$almost_black: #110F0E;
$almost_white_red: #FDF6F8;
$almost_white_green: #C1F1E5;
$almost_white_blue: #CBD8F5;
$red_pink: #CD2658;
$dark_red: #380A18;
$green: #3CD3AF;
$very_dark_green: #0C362C;
$blue: #2658cd;
$dark_blue: #0E214D;
$very_dark_blue: #060F22;
